@import "tailwindcss";

@font-face {
  font-family: 'Trajan Pro';
  src: url('/fonts/TrajanPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
};


@theme {
  --color-primary: #070707; /* Unchanged */
  --color-secondary: #18181c; /* Deep onyx for sophistication */
  --color-accent: #c2b280; /* Refined pale gold */
  --color-text-primary: #ececec; /* Soft pearl white */
  --color-text-secondary: #a3a3b2; /* Subtle silver gray */
  --color-border: rgba(255, 255, 255);
  --color-input-bg: transparent;
  --color-button-bg: #004221;
  --color-button-text: #ffffff;
  --color-button-hover-bg: rgba(255, 255, 255, 0.8);
  --color-button-border: rgba(255, 255, 255, 0.1);
  --color-button-hover-text: #004221;
  --color-button-active-bg: rgba(255, 255, 255, 0.2);
  --color-luxora: #B7955C;
  --font-family: 'Montserrat', sans-serif;
}


@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.animate-shine {
  animation: shine 5s linear infinite
}

body{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
display: none;

}
html {
scroll-behavior: smooth;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}