@import "tailwindcss";
@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body{
    background-color: black;
    overflow-x: hidden;
    padding: 0.5rem;
    padding-top: 0;
    width: 100vw;
    height: 100%;

}

  
 body::-webkit-scrollbar {
  display: none;

}
html {
  scroll-behavior: smooth;
} 
